<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>sign up</title>
</head>

<body>
    <header>
    
        <img src="../images/QMDb_LOGO.svg" alt="">
        <img src="../images/tororo.svg" alt="">
        
    </header>

    <!-- sign up input with username,email,password and submit button -->

    <section class="sign_up_form">

        <form>

            <h1>JOIN NOW</h1>
            <figure>
                <img src="../images/domo.jpg" alt="">
                <figcaption>get free cake</figcaption>
            </figure>

            <input type="text" id="username" name="username" placeholder="username" required>
            <br>
            <input type="email" id="email" name="email" placeholder="your email" required>
            <br>
            <input type="password" id="password" name="password" placeholder="choose a password" required>
            <br>
            <input type="submit" value="sign up">

        </form>


    </section>



    <section class="sign_up_form">
        <a href="../index.html">back</a>
    </section>

</body>

</html>