:root {
    --max-width: 1000px;
    --color-search-bar: #F3F3FE;
    --bg-color: #747272;
    --text-color: #FFFFFF;
}

body {
    max-width: var(--max-width);
    margin: 0 auto;
}

body > header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}

body > header img, a {
    margin: 1rem;
}

body > header img {
    padding: 0 1rem;
    margin: .3rem;
}

header aside {
    display: flex;
}

.input_field {
    width: 15rem;
    margin: 1rem;
    height: 1.3rem;
    border-radius: 4px;
    border: 0;
    padding: 0;
    text-align: center;
    background-color: var(--color-search-bar);
}

.search_bar {
    display: flex;
    justify-content: center;
    background: var(--bg-color)
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: .3rem;
}

.grid_item_top_cards {
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
}

.grid_item_top_cards figure {
    position: relative;
    margin: 0;
    padding: 0;
}

figure > img {
    width: 100%; 
}

.left > figure > figcaption {
    position: absolute;
    bottom: 0;
    padding: 0 .5rem;
    text-shadow: black 0px 0px 10px;
    color: var(--text-color);
}

.right > figure > figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 .5rem;
    text-align: end;
    text-shadow: black 0px 0px 10px;
    color: var(--text-color);
}

.bottom_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.bottom_cards article {
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    background: var(--bg-color);
}

.bottom_cards article figure {
    margin: 0;
}

.bottom_cards article h2 {
    padding: 0 1rem;
    margin: .5rem 0;
}

.bottom_cards article p {
    padding: 0 1rem;
}

footer {
    display: flex;
    justify-content: center;
    height: 4rem;
    background: var(--bg-color);
}

